*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#podium {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    position: relative;
}

#podium>:first-child {
    border:1.5px solid goldenrod;
    position: absolute;
}

#podium>:nth-child(2){
    position: absolute;
    border:1.5px solid silver;
    left: 30%;
    bottom: 0;
}

#podium>:last-child{
    position: absolute;
    border:1.5px solid darkgoldenrod;
    right: 30%;
    bottom: 0;
}

#notpodium {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: .75rem;
    align-items: center;
    justify-content: center;
}

/* #info>:first-child { // This isn't the way for border the champion element.
    border: 1px solid goldenrod;
} */

.champion-text {
    color: goldenrod;
    font-weight: bold;
}

.team-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid blanchedalmond;
    border-radius: 10px;
    height: 200px;
}

.team-logo, .team-name {
    width: 150px;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
    gap: .5rem;
}

form>select {
    text-align: center;
}

