*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#podium {
    margin: 0 auto;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    position: relative;
    width: 500px; /* It needs to change for responsive */
}

#podium>:first-child {
    border:1.5px solid goldenrod;
    position: absolute;
}

#podium>:nth-child(2){
    position: absolute;
    border:1.5px solid silver;
    left: 0;
    bottom: 5px;
}

#podium>:last-child{
    position: absolute;
    border:1.5px solid darkgoldenrod;
    right: 0;
    bottom: 0;
}

.champion-text {
    color: goldenrod;
    font-weight: bold;
}

.team-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid blanchedalmond;
    border-radius: 10px;
    height: 200px;
}

.team-logo, .team-name {
    width: 150px;
}

#notpodium {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

#notpodium>p{
    display: inline-block;
}


#notpodium>.team-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    padding: .5rem;
    border: 1px solid blanchedalmond;
    border-radius: 10px;
    height: 85px;
    overflow:hidden;
}

#notpodium>.team-container>.team-logo{
    width: 50px;
}

#notpodium>.team-container>.team-name{
    width: 75px;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
    gap: .5rem;
}

form>select {
    text-align: center;
}

